
.navbar-left {
    float: left !important;
    width: 137px;
    height: 100%;
    position: relative;
    background:black;
      top: 72px;
}

.navigation{
    font-size: 21px;
    text-align: center;
    margin: 172px 5px 5px 5px;
    position:relative;
}
@media screen and (max-width: 1310px) {
    .navigation{
    font-size: 15px;
    text-align: center;
    margin: 172px 5px 5px 5px;
    position:relative;
}
}
.navigation a:hover{
    color:#44a6ef;
    text-decoration:none;
}

.docPlaceholder{
  width: 0%;
  height: 118px;
  background: rgba(177,177,233,0.3);
  position: absolute;
  left: 131px;
  top: -38px;
  transition:width 0.5s;
}
.homework a{
    color: rgb(5, 252, 33)!important;
  
}
.temePlaceholder{
  width: 0%;
  height: 118px;
  background: rgba(177,177,233,0.3);
  position: absolute;
  left: 131px;
  top: -38px;
  transition:width 0.5s;
}
.temePlaceholderActivated{
  width: 0%;
  height: 118px;
  background: rgba(130, 246, 0, 0.30);
  position: absolute;
  left: 131px;
  top: -38px;
  transition:width 0.5s;
}
.docElementsPlaceholder{
    display:none;
}
.homeElementsPlaceholder{
    display:none;
}
.cipherPlaceholder1 {
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
    color: white;
    position: absolute;
    left: 20%;
    top: 33%;
    font-weight: bolder;
}
.cipherPlaceholder2 {
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
    color: white;
    position: absolute;
    left: 40%;
    top: 33%;
    font-weight: bolder;
}
.cipherPlaceholder3 {
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
    color: white;
    position: absolute;
    left: 80%;
    top: 33%;
    font-weight: bolder;
}
.cipherPlaceholder1:hover{
    color:red;
    cursor:pointer;
}
.cipherPlaceholder2:hover{
    color:red;
    cursor:pointer;
}
.cipherPlaceholder3:hover{
    color:red;
    cursor:pointer;
}
input{
  background-color: black;
  color: white;
  position: relative;
  border-color: red;
  width: auto;
  font-size: 17px;
  top: 36px;
}