body {
}

.form-control{
  position: absolute;
  top: 31%;
  left: 34%;
  width: 32%;
  height:auto;
}
.addBtn{
    margin-left:16px;
}
.row{
    margin-left:0px!important;
    margin-right:0px!important;
}

.exercices {
    position: relative;
    top: 91px;
    margin-left: 52px;
    margin-right: 52px;
    height: auto;
}
.exercisePlaceholder {
    position: relative;
    background-color: black;
    margin-bottom: 20px;
    width: 485px;
    padding: 0px 6px 7px 9px;
    border-radius: 19px;
      left: 31%;
}
.selected{
    background-color:green;
}

.cifru{
    font-size:30px;
    display:inline-block;
    color:red;
}
.cerinta{
    font-size:15px;
    display:inline-block;
    color:red;
}
.detalii {
    font-size:15px;
    display:inline-block;
    color:red;
}
.text{
  width: 389px;
  color: black;
  left: 68px;
  bottom: 34px;
  position: relative;
  font-family: bizon;
  color:red;
}
.submit{
  width: 100%;
  height: 26px;
  position: relative;
  bottom: 0xp;
}
.result{
   width: 100%;
}

.wrap{
    word-wrap: break-word;
}
label{
    font-size:25px;
    color:yellow;
}
.labelAdd{
    font-size:14px !important;
    color:black;
}
.help1{
  position: absolute;
  width: 152px;
  bottom: 130px;
}
.help2 {
    position: absolute;
    float: right;
    width: 152px;
    right: 317px;
    bottom: 33px;
}
.help1Placeholder {
    width: 456px;
    height: 345px;
    background-color: black;
    position: absolute;
    float: left;
    left: 824px;
    display: none;
    top: -275px;
}
.help2Placeholder {
    width: 338px;
    height: 90px;
    background-color: black;
    position: absolute;
    float: left;
      left: 485px;
    display: none;
     top: -275px;
}
.cifre {
    position: absolute;
    bottom: 133px;
    left: 159px;
}
.aparitii{
   color: white;
  font-size: 41px;
  position: relative;
  left: 15px;
  top: 92px;
}
.noEx {
    color: red;
    font-weight: bold;
    font-size: 34px;
    position: relative;
    width: 701px;
    left: 27%;
    background-color: black;
    text-align: center;
    border-radius: 24px;
    padding-left: 9px;
}
.raspunsImgGresit {
    position: absolute;
    bottom: 256px;
    display: none;
    right: 23px;
    right: -160px;
}
.raspunsImgCorrect{
    position: absolute;
    bottom: 256px;
    display: none;
    right: -90px;
}
.raspuns{
    display:none;
}

.explicatiiHelpSubstring {
    position: absolute;
    left: 202px;
    width: 277px;
    bottom: 78px;
    color:red;
}
.explicatiiHelpLitere {
    position: absolute;
    bottom: 2px;
    left: 199px;
    color:red;
}
.helpArea{
  position: relative;
  bottom: -4px;
  width: 470px;
  height: 177px;

}
.yourChartPlaceholder {
    position: relative;
    float: left;
    width: 50%;
}
.yourChartPlaceholder h1 {
        color: white;
        position: relative;
        top: 73px;
        left: 15px;
        width: 318px;
    }
.your{

}

.generalChartPlaceholder{
  position: relative;
  float: right;
  top: 42px;
  left: 0px;
}
    .generalChartPlaceholder h1 {
        color: white;
        font-size: 22px;
        top: 41px;
        position: relative;
        left: -61px;
    }
.general{
  top: 49px !important;
  left: 0px !important;
}

.chart {
   position: relative;
  float: left;
  width: 88%;
  left: 62px;
  top: 76px;
}
.bar {
    color: white;
    font-size: 15px;
    height: 20px;
    background-color: red;
    border-radius: 5px;
    padding-left: 5px;
    font-weight: bolder;
}
.generalChart{

}
.AllCharts{
    display:inline-block;
      width: 100%;
}
.general span {
    position: absolute;
    left: -58px;
    color: white;
    font-weight: bolder;
}
.your span{
     position: absolute;
    left: -58px;
    color: white;
    font-weight: bolder;
}
.freqBar{

}
.raspunsVisibil {
    display: block;
    left: 124px;
    width: 343px;
}
.onHover:hover{
    background-color:lightgreen;
    cursor:pointer;
}
.downloadButton {
    width: 300px;
    height: 40px;
    position: relative;
    float: left;
    left: 40%;
}