body{
    padding:0!important;
    background-color:rgba(1,1,1,0)!important;
    padding:0px!important;
}

html{ 
  background: url(/Assets/pozaMareFundal.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar-fixed-top{
  top: 0;
  z-index: 1030;
  height: 76px;
  background: rgba(177,177,233,.3);
}

.nameContainer {
  width: 377px;
  position: relative;
  font-size: 40px;
  top: -72px;
  left: 40%;
  color: white;
  font-weight: bolder;
  text-align: center;
}
img:hover{
    cursor:pointer;
}
a{
    color: red !important;
}
.right{
  width: 377px;
  position: relative;
  font-size: 40px;
  top: -128px;
  left: 77%;
  color: white;
  font-weight: bolder;
  text-align: center;
}
.download {
    width: 377px;
    position: relative;
    font-size: 40px;
    top: -58px;
    left: -229%;
    color: white;
    font-weight: bolder;
    text-align: center;
}
.navbar-fixed-top {
    background-color: black;
    border-radius: 70px !important;
}

