body {
   background-color:rgba(1,1,1,0);
}
.titlePlaceholer{
  position: relative;
  margin-top: 90px;
  text-align: center;
  color: white;
  font-size: 30px;

}
input{
  background-color: black;
  color: white;
  border-color: red;
}

.descriptionPlaceholder{
  color: red;
  display: inline-block;
  position: absolute;
  width: 33%;
  left: 1%;
  word-wrap: break-word;
  top: 39px;
  padding:7px;
  background-color:black;
    border-radius: 21px;
}
.descriptionPlaceholder span{
    font-size: 30px;
}
.algoritmPlaceholder {
    color: red;
    position: absolute;
    left: 67%;
    top: 42px;
    width: 28%;
    word-wrap: break-word;
    padding: 7px;
    background-color: black;
      border-radius: 21px;
}
.securityPlaceholder {
    color: red;
    display: inline-block;
    position: relative;
    top: 0px;
    width: 30%;
    left: 35%;
    word-wrap: break-word;
    padding: 7px;
    background-color: black;
    border-radius: 21px;
}
.linkPlaceholder{

}
.gifPlaceholder{
  position: absolute;
  right: 0px;
  top: 149px;
}
span{
    font-size:30px;
}
.contentPlaceholder{
  width: 65%;
  position: relative;
  height: 526px;

}
.toExercise{
  background-color: black;
  width: 130px;
  font-size: 32px;
  position: relative;
  float: right;
  border-radius: 18px;
  padding: 5px 9px 5px 9px;
    top: -61px;
}
.toExercise:hover{
    background-color:red;
    cursor:pointer;
}
.toExercise a{
    color:red!important;
}
.toExercise a:hover{
    text-decoration:none;
    color:black!important;

}
